<mat-card>
  <section class="container">
    <img [src]="photo" />

    <!--<div class="info">
    <span>{{location}}</span>
    <span >{{name}}</span>
  </div>
  <div class="info">
    <span>{{services }}</span>
    <span>{{zodiac}}</span>
  </div>-->

    <div class="item">
      <span>{{ location }}</span>
    </div>
    <div class="item">
      <span>{{ name }}</span>
    </div>
    <div class="item">
      <span>{{ services }}</span>
    </div>
    <div class="item">
      <span>{{ zodiac }}</span>
    </div>
  </section>
</mat-card>
